<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>멘토링 신청 완료</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
<table width="100%" cellspacing="0" cellpadding="0" style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <tr>
        <td align="center" style="color: #003366; font-size: 24px; font-weight: bold; padding-bottom: 10px;">
            [시멘토] 멘토링 신청이 완료되었습니다.
        </td>
    </tr>
    <tr>
        <td align="center" style="color: #003366; font-size: 18px; padding: 10px;">
            멘토링 신청이 완료되었습니다.
        </td>
    </tr>
</table>
</body>
</html>
